.carte {display: flex;
    	align-items: center;
    	padding: 10px;
    	
   	 	justify-content: ;
    	box-shadow: 0px 15px 40px rgba(0,0,0,0.3);
    	border-radius: 6px;
    	padding-left: none;
    	flex-basis: 400px;
    	margin: 8px;
    	flex-grow: 1;

    	
    	

		}
.carte h3 {padding-left: 15px; }
.carte img{ 
			width: 150px; 
			 border-radius: 6px;}
.carte a {font-size: 10px}

.cartes { display: flex;
			flex-wrap: wrap;  }